* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Segoe UI', 'Malgun Gothic';

  letter-spacing: -0.05em !important;

  overflow: hidden;
}

header {
  position: fixed;
  left: 0;
  top: 0;

  transform: skewX(-30deg);
  transition: 500ms top ease;

  margin: 0 0 0 -2em;
  padding: 1em 1em 1em 3em;

  color: #333;
  background: #3DC66C;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
header > div {
  transform: skewX(30deg);
}
header h1 {
  margin: 0 1rem;
}
header p {
  margin: 0 1rem;
}
header.disabled {
  top: -8rem
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;

  transform: skewX(-30deg) translateZ(0);
  transition: 500ms bottom ease;

  margin: 0 -2em 0 0;
  padding: 1em 3em 1em 2em;

  background: #00B8FA;
  box-shadow: 0 0em 0.5em rgba(0, 0, 0, 0.5);

  z-index: 1000;
}
footer > div {
  transform: skewX(30deg);
  font-size: 1.5em;
}

footer > div::first-letter {
  font-size: 2.5rem;
}

footer.no-cap > div {
  font-size: 2em;
}
footer.no-cap > div::first-letter {
  font-size: 1em;
}

footer.disabled {
   bottom: -6rem
}
.print {
  position: fixed;
  right: 8em;
  bottom: 0;

  transform: skewX(-30deg) translateZ(0);
  transition: 500ms bottom ease;

  margin: 0 -2em 0 0;
  padding: 1em 3em 1em 2em;

  background: #00B8FA;
  box-shadow: 0 0em 0.5em rgba(0, 0, 0, 0.5);
}
.print > div {
  transform: skewX(30deg);
  font-size: 1.5em;
}
.printing {
  color: rgba(0, 0, 0, 0.5);
}
.print.disabled {
   bottom: -6rem
}

#slider-container {
  width: 1920px;
  height: 1080px;

  transform-origin: 0 0;
}
.page {
  position: absolute;
  left: 0;

  transition: top 500ms ease;

  width: 1920px;
  height: 1080px;
}

.page.preparing {
  top: 100%;
}

.page.current {
  top: 0;
}

.page.removing {
  top: -100%;
}

.hidden {
  display: none;
}
