* {
  box-sizing: border-box;
}

body {
  width: 180mm;
  height: 267mm;

  font-size: 16pt;
  font-family: 'Segoe UI', 'Malgun Gothic';

  letter-spacing: -0.01em;
}

header h1 {
  display: inline-block;
  width: 50%;
  margin: 0;
  font-size: 1.5em;
}

.notes {
  margin-left: 0.75em;
}
.notes1 {
  color: red;
}
.notes2 {
  color: green;
}
.notes3 {
  color: blue;
}

ul.smarts, ul.mi-monitor {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.smarts li {
  display: inline-block;
  width: 90mm;
  height: 30mm;

  margin: 0;
  padding: 0;
  border-left: 2mm solid;
}
ul.smarts li .title {
  width: 100%;
  height: 10mm;
  font-size: 0.75em;
  padding: 0.5rem;
}
ul.smarts li img {
  width: 25mm;
  height: 20mm;
}
ul.smarts li svg {
  width: 55.5mm;
  height: 20mm;
  border-bottom: 1pt solid black;
}
section {
  display: inline-block;
  width: 87.5mm;

  vertical-align: top;
}
section + section {
  margin-left: 2.5mm;
}
section h1 {
  height: 12mm;
  font-size: 18pt;

  margin: 0;
  padding: 0.25em 0;
  border-bottom: 1pt solid black;
}

ul.mi-monitor li {
  width: 100%;
  height: 12mm;
}
ul.mi-monitor li > * {
  display: inline-block;
  font-size: 12pt;
  height: 100%;
}
ul.mi-monitor .title {
  width: 15mm;
  padding-top: 5mm;
  padding-left: 2mm;
  vertical-align: top;
}
ul.mi-monitor .graph {
  width: 65mm;
  padding-top: 4mm;
}
ul.mi-monitor .bar {
  /* print will ignore background... */
  border-top: 3mm solid black;
}
ul.mi-monitor .comment > mark {
  background: none;
  color: red;
}
section.csi p.heading {
  font-size: 24px;
  padding: 4mm;
  margin: 0;
  border-bottom: 1pt solid black;
}
section.csi ul {
  list-style: initial;
  font-size: 12pt;
  padding: 0 1.5em;
  margin-top: 1em;
  word-break: keep-all;
}
section.csi ul li {
  margin-bottom: 0.5em;
}
