<!DOCTYPE html>
<html>
  <head>
    <title> WannaB Report 인쇄 </title>
    <meta charset="utf-8" />
    <style>
<%- require('fs').readFileSync('./app/css/print.css').toString() %>
    </style>
  </head>
  <body>
    <%
function avg(a) {
  return a.reduce((x, y) => x + y, 0) / a.length
}
function compare(a, b, diff) {
  let d = Math.abs(a - b)
  if(d < diff) {
    return '≃'
  } else if(a > b) {
    return '＞'
  } else if (a < b) {
    return '＜'
  } else {
    return '?'
  }
}
    %>
    <header>
      <h1>
        WannaB Report
      </h1>
      <span class="notes">
        <span class="notes1">ㅡ</span>
        수용도
      </span>
      <span class="notes">
        <span class="notes2">ㅡ</span>
        흥미도
      </span>
      <span class="notes">
        <span class="notes3">ㅡ</span>
        집중도
      </span>
    </header>
    <ul class="smarts">
      <% for(i in config.types) {
    %><li style="border-color: <%= config.types[i].color %>">
        <div class="title">
          <b><%= config.types[i].name.ko %>재능</b>
          평균 <%= avg(lines[i][0]).toFixed(1) %>
        </div><div class="data">
          <img src="<%= thumbnails[i] %>" /><!--
       --><svg version="1.1"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 555 200">
            <%- new Polyline(0, 0, 555, 200, lines[i]).render() %>
          </svg>
        </div>
      </li><%
      } %>
    </ul>
    <section class="mi">
      <h1> MI Monitoring </h1>
      <ul class="mi-monitor">
        <% for(i in config.types) {
      %><li>
          <div class="title">
            <%= config.types[i].name.ko.slice(0, 2) %>
          </div><!--
       --><div class="graph">
            <div class="bar"
                 style="width: <%= avg(lines[i][0]) %>%">
            </div>
            <div class="comment">
              <%= avg(lines[i][0]).toFixed(1) %>
              <% if(score[i] >= 5) { %>
                <mark>
                  토너먼트 <%= 7 - score[i] %>위
                </mark>
              <% } %>
            </div>
          </div>
        </li><%
        } %>
      </ul>
    </section><!--
 --><section class="csi">
      <h1> WannaB Monitoring </h1>
      <p class="heading">
        CQ | 언어력 <%= compare(
          avg(lines[0][0]) + avg(lines[1][0]),
          avg(lines[2][0]) + avg(lines[3][0]),
          10)
        %> 논리력
      </p>
      <p class="heading">
        SQ | 관계형 <%= compare(
          avg(lines[6][0]),
          avg(lines[7][0]),
          5)
        %> 자연형
      </p>
      <p class="heading">
        IQ | 좌뇌형 <%= compare(
          avg(lines[0][0]),
          avg(lines[1][0]),
          5)
        %> 우뇌형
      </p>
      <p>
        <ul>
          <li>
            보다 자세하고 정밀한 관찰과 진단은 다양한 WannaB 교육과정을
            통하여 단계적으로 제공됩니다.
          </li>
          <li>
            각자의 재능과 강점을 기반으로 맞춤형 창의·융합 교육을
            제공하며, 개인별 포트폴리오를 관리합니다.
          </li>
          <li>
            부모 회원들과는 별도의 "WannaB 스토리" 스마트폰 앱을 통하여
            아이들의 재능 포트폴리오를 공유하고, 친밀하게 소통합니다.
          </li>
        </ul>
      </p>
    </section>
  </body>
</html>
